.application {
    &-title {
        color: $secondary;
    }

    &-item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 140px;
        padding: 5px;
        margin: 5px;
        color: $text-color;
        text-align: center;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: $border-radius-lg;
        transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, border 0.35s ease-in-out;

        > i {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80px;
            height: 80px;
            font-size: 5rem;
        }

        span {
            display: flex;
            flex: 1;
            align-items: center;
            padding-top: 5px;
            line-height: 1.3;
        }

        img {
            max-width: 100px;
            max-height: 100px;
            padding: 10px;
        }

        &--add,
        &--remove {
            position: absolute;
            top: 10px;
            right: 20px;
            width: 40px;
            height: 40px;
            padding: 0;
            text-align: center;
            background-color: $secondary;
            border: 1px solid transparent;
            border-radius: 50%;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);

            i {
                font-size: 1rem;
                line-height: 30px;
                color: $white;
            }

            &:hover {
                background-color: $primary;
            }
        }

        &.no-hover {
            background-color: inherit;
            border-color: transparent;
            box-shadow: inherit;
        }

        .opacity-50 {
            opacity: 0.5;
        }

        &.app-1d::before {
            position: absolute;
            top: 0;
            right: 25px;
            width: 25px;
            height: 25px;
            font-size: 0.9rem;
            color: $white;
            content: "1D";
            background-color: $primary;
            border-radius: 50%;
        }

        &:hover {
            color: inherit;
            background-color: rgba($white, 0.5);
            border: 1px solid $gray-300;
            box-shadow: 5px 5px 15px rgba($black, 0.1);
            transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, border 0.35s ease-in-out;
        }

        &:active {
            background-color: rgba($white, 0.8);
            border-color: $primary;
            box-shadow: 2px 2px 10px rgba($black, 0.1) inset;
            transition: background-color 0.25s ease-in-out, box-shadow 0.35s ease-in-out, border 0.15s ease-in-out;
        }

        &.blue-background-class {
            background-color: rgba($secondary, 0.15);
        }
    }
}

.applications {
    &-search {
        @extend .mt-1;
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &-favorite {
        padding: 10px;
        background-color: rgba($white, 0.75);
        border: 1px solid $gray-300;
        border-radius: $border-radius-lg;
        box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.05);

        @extend .mt-3;

        h2 {
            font-size: 1.2rem;
        }
    }

    &-list,
    &-connector {
        h2 {
            @extend .mb-3;

            flex-basis: 100%;
            font-size: 1.2rem;

            span {
                padding-right: 10px;
                background-color: $gray-100;
            }

            &::after {
                display: block;
                margin-top: -10px;
                content: "";
                border-top: 1px solid $gray-300;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .application {
        &-item {
            width: 90px;
            height: 110px;
            margin: 5px;

            > i {
                width: 60px;
                height: 60px;
                font-size: 4rem;
            }

            img {
                max-width: 80px;
                max-height: 80px;
            }

            span {
                font-size: 1.4rem;
            }

            &--add,
            &--remove {
                top: 10px;
                right: 10px;
            }
        }
    }

    .applications {
        &-list {
            justify-content: space-around;
        }

        &-favorite {
            padding: 10px;
        }
    }
}

// APPLICATIONS AND CONNECTORS : ICONS AND COLORS

// Add class for applications 1D
// .application {
//     &.nom-appli {
//         &::after {
//             font-family: "Roboto";
//             font-size: 0.9rem;
//             content: "1D";
//             position: absolute;
//             top: -5px;
//             right: -5px;
//             background-color: $primary;
//             color: $white;
//             width: 25px;
//             height: 25px;
//             border-radius: 50%;
//         }
//     }
// }

// shadow class for D&D Sortable.js library
.blue-background-class {
    background-color: rgba($secondary, 0.15);
}
