.btn-link,
.btn[class*="btn-outline-"] {
    box-shadow: none;
}

.btn-outline-primary:hover,
.btn-outline-primary.active {
    color: $white !important;
}

.btn-primary {
    color: $white;

    &:hover,
    &:active,
    &.active {
        color: $white !important; // ? faire fonctionner, là en l'état ça marche pas
    }

    &.disabled,
    &:disabled {
        color: rgba($white, 0.8);
        background-color: $gray-600;
        border-color: $gray-600;
        opacity: 0.8;
    }
}
