.list {
  &__item {
    &:hover {
      border-color: $secondary;
      @extend .transition-hover-fast;
    }
    &:active,
    &.active {
      border-color: $secondary;
      background-color: rgba($secondary, 0.1);
    }
  }
}

@include media-breakpoint-down(sm) {
  .explorer__view.list {
    padding: 5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
  }
  .list {
    &__header {
      display: none;
    }
   &__item {
     flex-wrap: wrap;
     padding: 10px;
     margin: 10px 0;
     border-color: $gray-300;
     .list__title {
       width: calc(100% - 100px); // 100% - .list__item--preview - .list__status
     }
     .list__status {
       width: 60px;
       padding: 0;
     }
     .list__owner {
       width: 50%;
     }
     .list__modification {
       width: 50%;
       text-align: right;
     }
   }
  }
}