.list {
    &__item {
        &:hover {
            border-color: $secondary;
        }
        &:active,
        &.active {
            background-color: rgba($secondary, .1);
            border-color: $secondary;
        }
    }
}

@include media-breakpoint-down(sm) {
    .explorer__view.list {
        padding: 5px;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    .list {
        &__header {
            display: none;
        }
        &__item {
            flex-wrap: wrap;
            padding: 10px;
            margin: 10px 0;
            border-color: $gray-300;
            .list__title {
                width: calc(100% - 40px); // 100% - .list__item--preview
            }
            .list__status {
                display: none;
            }
            .list__owner {
                width: 55%;
            }
            .list__modification {
                width: 45%;
                text-align: right;
            }
            .list__modifiedBy {
                display: none;
            }
        }
    }
}
