.navbar {
    & {
        padding: 0 2rem;
        width: 100%;
        box-shadow: 0 .2rem .5rem rgba($black, .4);
        background: linear-gradient(to bottom right, $secondary, $darker-cyan);
    }

    .container {
        padding: 0;
    }

    .btn {
        color: $white;
        padding: .6rem .8rem;
        font-size: 3rem;
        border-radius: 0;
        align-items: center;
        border-bottom: 3px solid transparent;

        > a {
            color: inherit;
        }

        i {
            &.ic-help {
                font-size: 3.2rem;
            }
        }

        &:hover {
            border-bottom: 3px solid $primary;
        }
    }

    .navigation {
        display: inline-flex;
        align-items: center;

        .zimbra-btn {
            > a {
                @extend .btn;

                .new-mails {
                    position: relative;
                    top: -1.5rem;
                    right: 1rem;
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    margin-right: -2rem;
                    font-size: 1.2rem;
                    font-weight: bold;
                    line-height: 20px;
                    text-align: center;
                    background: $primary;
                    border-radius: 50%;
                }

                &:hover {
                    color: $white;
                }
            }
        }

        .btn {
            .new-mails {
                position: relative;
                top: -1.5rem;
                right: 1rem;
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-right: -2rem;
                font-size: 1.2rem;
                font-weight: bold;
                line-height: 20px;
                text-align: center;
                background: $primary;
                border-radius: 50%;
            }

            #my-photo {
                width: 25px;
                margin: .7rem 0;
                background-color: $white; // A retirer quand on aura refait l'avatar
                border-radius: 50%;
            }
        }
    }

    &-brand {
        padding: 0;
        margin-right: 0;

        // A voir si besoin d'override / plateforme
        .logo {
            display: inline-block;
            // height: 44px;
            height: 64px;
        }
    }
}

@include media-breakpoint-down(md) {
    .navbar {
        .container {
            padding: 0;
        }

        .btn {
            padding: .5rem;
            font-size: 2rem;

            i {
                &.ic-help {
                    font-size: 2.2rem;
                }
            }
        }

        .application-title {
            display: block;
            width: calc(100% - 300px); //A REVOIR
            color: $white;
        }

        .logo {
            height: 30px;
        }

        .dropdown {
            [class*="ic-"] {
                // margin-right: 1rem;
                font-size: 2rem;
                vertical-align: middle;
            }
        }
    }
}