header.navbar.navbar-dark {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    height: 64px;
    padding: 0 10px;
    z-index: $zindex-sticky;
    box-shadow: $box-shadow-sm;
    .container {
        padding: 0 20px;
    }
    .btn {
        font-size: 1.6rem;
        i {
            line-height: 1.6;
            font-size: 2.4rem;
        }
        &:first-child {
            margin-right: auto;
        }
        .logo {
            display: inline-block;
            height: 54px;
        }
    }
    .navigation {
        a {
            color: $white;
        }
        .btn {
            .new-mails {
                position: relative;
                top: -15px;
                right: 10px;
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-right: -20px;
                font-family: "Roboto";
                font-size: 12px;
                font-weight: bold;
                line-height: 20px;
                text-align: center;
                background: $orange;
                border-radius: 50%;
            }
            .avatar #my-photo {
                width: 25px;
                background-color: white; // A retirer quand on aura refait l'avatar
                border-radius: 50%;
                margin: 7px 0;
            }
        }
    }
}
@include media-breakpoint-down(md) {
    header.navbar.navbar-dark {
        height: 55px;
        .container {
            padding: 0;
        }
        a.application-title {
            display: block;
            width: calc(100% - 300px); //A REVOIR
            color: $white;
        }
        .btn {
            padding: 0 5px;
        }
        .logo { height: 30px; }
        .dropdown {
            i[class*="ic-"] {
                margin-right: 10px;
                font-size: 2rem;
                vertical-align: middle;
            }
        }
    }
}
