/* DOCUMENTATION
<aside class="sidebar sidebar--left">
  <h1 class="sidebar__title">Titre de l'application</h1>
  <ul class="sidebar__tree">
    <li>Mes ressources
      <ul>
        <li>Dossier 1</li>
        <li>Dossier 2
          <ul>
            <li>Sous-dossier 1</li>
            <li>Sous-dossier 2</li>
            <li>Sous-dossier 3</li>
          </ul>
        </li>
      </ul>
    </li>
    <li>Ma corbeille</li>
  </ul>
  <a class="btn-secondary btn-block">Créer un dossier</a>
  <a class="btn-secondary btn-block">Importer</a>
</aside>
<main class="main-content"></main>
END DOCUMENTATION */

/* VARIABLES */
$sidebar-width: 250px;

/* COMPONENT */

/* aside */
.sidebar {
    color: $gray-600;
    background-color: rgba($white, .7);
    &__title {
        color: $secondary;
    }
    &__tree {
        li {
            a {
                &:hover {
                    color: $secondary;
                    background-color: rgba($secondary, .075);
                }
                &.active,
                &:active {
                    color: $secondary;
                    background-color: rgba($secondary, .2);
                }
            }
        }
    }
}

@include media-breakpoint-down(lg) {
    .sidebar + .main-content {
        border-radius: $border-radius;
    }
}
