// A revoir, à compléter, à optimiser
.transition-hover-fast {
  transition-timing-function: ease;
  transition-duration: .25s;
  transition-property: all;
}
.transition-hover {
  transition-timing-function: ease;
  transition-duration: .5s;
  transition-property: all;
}
.transition-hover-slow {
  transition-timing-function: ease;
  transition-duration: .75s;
  transition-property: all;
}
.transition-hover-very-slow {
  transition-timing-function: ease;
  transition-duration: .75s;
  transition-property: all;
}
